{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "prettier",
  ],
  "ignorePatterns": ["dist", "node_modules"],
  "rules": {
    "no-var": "error",
    // "prefer-const": "warn",
    "no-misleading-character-class": "warn",
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {"argsIgnorePattern": "^_", "varsIgnorePattern": "^_"},
    ],
  },
}
